* {
  font-size: 20px;
}
body {
  border: 1px solid rgba(51, 51, 51);
  border-radius: 0.3rem 0.3rem 0 0;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.head {
  grid-area: 1 / 1 / 2 / 3;
  background-color: rgba(51, 51, 51, 0.2);
  border: 3px solid black;
  border-radius: 0.3rem 0.3rem 0 0;
  padding: 0.3rem 0.4rem;
  height: 1.3rem;
}
.header {
  display: flex;
}
.title {
  margin: auto;
}
.icons i {
  padding: 0.15rem;
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 50%;
}
.nav {
  grid-area: 2 / 1 / 3 / 3;
  border: 1px solid black;
  text-align: center;
  padding: 0.5rem;
}
.main-left {
  grid-area: 3 / 1 / 4 / 2;
  border: 1px solid black;
  text-align: center;
}
.parentForms {
  display: grid;
  margin-top: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: auto auto;
  justify-content: center;
}
input {
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 0.2rem;
}
#submit {
  background-color: #0080fe;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center !important;
  width: 100%;
}
.blanks {
  display: none;
  color: red;
}
.main-right {
  grid-area: 3 / 2 / 4 / 3;
  border: 1px solid black;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  height: 20rem;
}
table {
  width: 50%;
  height: 8rem;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid rgba(51, 51, 51, 0.3);
  margin-top: 2rem !important;
  margin: auto;
}
table tr th {
  background-color: rgba(51, 51, 51, 0.2);
}
.footer {
  grid-area: 4 / 1 / 5 / 3;
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
}
